
body {
    background-image: url('/images/oceanbg.png');
    font-family: "Courier New", monospace;
    color: #ceab2a;

    margin:0;
}

.header {
    margin:auto;
    margin-bottom: 1em;
    padding: 2em 5px;

    background-image: url('/images/bg2.png');

    border-radius: 5px;
    border-color: #ccc;
    border-style: none solid solid solid;
    border-width: 1px;
}

.body-container {
    margin: auto;
    min-height: 600px;
    
    background-color: black;

    border-radius: 5px;
    border-color: #ccc;
    border-style: solid;
    padding: .5em 5px;
    border-width: 1px;
}

.body-text {
    margin: 10px;
}

h1 {
    margin: 10px 0;

    text-align: center;
}

h2 {
    margin: 0;
}


@media only screen and (min-width: 600px) {
    /* For desktop: */
    .body-container {
        width: 60%;
        max-width: 1024px;
        min-width: 550px;
    }

    .header {
        width: 60%;
        min-width: 550px;
        max-width: 1024px;
    }
  }